In [11]:
#Q1......
string="Hello Wolrd"
print(string)
print("The length of a string is:",(len(string)))

Hello Wolrd
The length of a string is: 11

In [73]:
#Q2.......
#A
str="abcdefghijklmnop"
str[13:16:1]

'nop'

In [45]:
#B
str="abcdefghijklmnop"
str[0:6:1]

'abcdef'

In [52]:
#C
str="abcdefghijklmnop"
str[0:-13]
str[0:13:1]

'abcdefghijklm'

In [63]:
#D
str="abcdefghijklmnop"
str1=str[2:8]
print(str1)

cdefgh

In [66]:
#E
str = "Hello World"
reversed_text = text[::-1]
print(reversed_text)

dlroW olleH

In [70]:
#Q3........
sen="This is a long sentence"
sen[10:14:1]

'long'

In [2]:
#Q4.......
user_input = input("Enter a string: ")

for char in user_input:
    print(char)

Enter a string:  Bhosale

B
h
o
s
a
l
e

In [91]:
#Q5.......

a='hello'
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

h
e
l
l
o

In [92]:
#Q6.......
product="laptop"
price="600000"
print(f"The {product} cost {price}")

The laptop cost 600000

In [99]:
#Q7.........
name ="vikas"
score=85
print(f" In ssc examination {name} score {score} marks")

 In ssc examination vikas score 85 marks

In [102]:
#Q8.........
string = 'LAPTOP'

for char in string: 
    print(f"The laptop cost 600000 {char}")
    print("*********")

The laptop cost 600000 L
*********
The laptop cost 600000 A
*********
The laptop cost 600000 P
*********
The laptop cost 600000 T
*********
The laptop cost 600000 O
*********
The laptop cost 600000 P
*********

In [103]:
#Q9........
string = 'PRATIKSHA'

for char in enumerate(string):
    print(char)

(0, 'P')
(1, 'R')
(2, 'A')
(3, 'T')
(4, 'I')
(5, 'K')
(6, 'S')
(7, 'H')
(8, 'A')

In [1]:
#Q10.........
user_input = input("Enter a name: ")

for i in range(len(user_input) - 1, -1, -1):
    print(user_input[i])

Enter a name:  pratiksha

a
h
s
k
i
t
a
r
p